.text-center {
    text-align: center;
}

.top-image {
    text-align: center;

}

.top-image img {
    border-color: rgb(0, 162, 255) !important;
}

.top-hero {
    background: rgba(249, 249, 249, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(249, 249, 249, 0.68);

}
h1 {
    color: rgba(10, 12, 14, 0.966);
    
}

h2 {
color: rgb(0, 162, 255);
}

header img {
    width: 400px;
    height: 400px;
    border: 10px solid #CCC;
    transition: 1s;
}

header img:hover {
    border-color: rgb(0, 162, 255);
    
}

a {
    color: #000;
    transition: 1s;
   
    
}

a:hover {
    color: aqua;

}

.tags span {
    margin: 20px;
    display: inline-block;
    border: 2px solid rgb(0, 162, 255);
    padding: 5px 10px;
    color:#000;
    border-radius: 8px;
    font-size: 0.8rem;
    
}

.top-container {
    background-image: url(tło.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}